
.chatRoom {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    right: 5px;
    bottom: 30px;
   z-index:999999999999999;
}
.user {
    cursor: pointer;
    list-style-type: none;
    margin-left: -40px;
}
.private-chat {
     z-index:999999999999999;
    border: 0 !important;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    background-color: #FFF;
    background:#FFF !important;
}
.chatmsgbox {
    border-bottom: 1px solid #e0e2e2 !important;
        height: 40px;
    margin-left: 5px;
    padding: 0px !important;
    border: medium none;
    width: 95% !important;
    }
.chatmsgbox:focus {
     outline: none !important;
      border-bottom: 1px solid #33aa99 !important;
    
    }
.btn-group-chat {
    min-width:0px !important;
}
.input-grp-chat {
    margin-top:10px;
    margin-left:10px;
    margin-right:5px;
}
.btnAttachment {
font-size: 20px !important;
}
.CusubmitButton {
    margin-top: 12px;
    margin-bottom: 5px;
    height: 40px;
    width: 70px;
    margin-left: -18px;
}
/*.loginUser {
    padding-left: 290px;
    padding-right: 10px;
    color: forestgreen;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;

}
.divusers > a {
    padding-left: 290px;
    padding-right: 10px;
}*/
    .chatRoom .title {
            font-size: 16px;
    font-weight: bold;
    padding: 8px;
    background-color: #33aa99;
    border-bottom: solid 1px #e0e2e2;
    color: aliceblue;
    }

    .chatRoom .content {
        height: 300px;
        clear: both;
    }

        .chatRoom .content .chatWindow {
               float: left;
    height: 300px;
    border-right: solid 1px #e0e2e2;
    overflow-y: scroll;
           
        }
        .chatRoom .content .chatWindow::-webkit-scrollbar {
        display: none;
    }
.chatWindow-user {
     height: 300px;
    overflow-y: scroll;
}
   .chatWindow-user::-webkit-scrollbar {
        display: none;
    }
            .chatRoom .content .chatWindow .message {
                padding: 4px;
            }

                .chatRoom .content .chatWindow .message .userName {
                    font-weight: bold;
                }

        .chatRoom .content .users {
            float: right;
            width: 240px;
            height: 300px;
        }

            .chatRoom .content .users .user {
                display: block;
                cursor: pointer;
                padding: 4px;
                background-color: #f9f9f9;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .loginUser {
                display: block;
                padding: 4px;
                color: gray;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .user:hover {
                background-color: #e1e1e1;
            }

    .chatRoom .messageBar {
            border-top: solid 1px rgba(128, 128, 128, 0.24);
        
    }

     
.disconnect {
    position: absolute;
    margin: 10px;
    background-color: #ffcbcb;
    padding: 4px;
    border: solid 1px red;
}


.draggable {
    position: absolute;
    width: 250px;
}

    .draggable .header {
        cursor: move;
    background-color: #33aa99;
    border-bottom: #ccded8 solid 1px;
    color: #f0f8ff;
    padding: 5px;
    }

    .draggable .selText {
     color: aliceblue;
    padding: 4px;
    }

    .draggable .messageArea {
        width: 250px;
        overflow-y: scroll;
       margin-left: 10px;
        height: 200px;
        border-bottom: #e0e2e2 solid 1px;
     
    }
       .draggable .messageArea::-webkit-scrollbar {
        display: none;
    }

.private-submit {
        margin: 14px 10px 10px -25px;
}
        .draggable .messageArea .message {
            padding: 4px;
        }

    .draggable .buttonBar {
        width: 250px;
        padding: 4px;
    }

        .draggable .buttonBar .msgText {
            width: 172px;
        }

        .draggable .buttonBar .button {
            margin-left: 4px;
            width: 55px;
        }
