$nav-background-coclor:#475569;
$register-background-color:#27272a;


body {
    font-family:'Nirmala UI';
    margin:0;
}
nav{
    display:flex;
    background-color:$nav-background-coclor;
    height:50px;
    align-items:center;

    a{
        text-decoration:none;
        color:white;
    }

    div{
        padding:6px;
        margin:5px;
        cursor:pointer;
        transition:0.2s ease-in;
    }

    div:hover{
        box-shadow:2px 2px 2px black;
        font-weight:bold;
    }
    img{
        width:60px;
    }
}

#register_container{
   display:flex;
   align-items:center;
   justify-content:center;
       .form_container{
            font-family:'Nirmala UI';
            font-size:1.2rem;
            background-color:$register-background-color;
            border-radius:2px;
            /*box-shadow:gray 10px 10px 10px inset;*/
            box-shadow:10px 10px 6px black;
            padding:5px;
            margin:10px;
            margin-top:10px;
            width:500px;
            height:550px;
        }
        .form_field{
            color:white;
            display:grid;
            width:100%;
            grid-template-columns:1fr 2fr;
            align-items:center;
            justify-content:center;
        }
        .txbox{
            height:50%;
            border:none;
            border-radius:5px;
        }
        .buttons{
            font-weight:bold;
            font-size:2rem;
            background-color:turquoise;
            border-radius:4px;
            height:50px;
            width:100%;
            margin-top:30px;
        }
}
     #namedd{
            width:40%;
            height:40px;
        }
        #delete_tb{
            width:100px;
            height:20px;
        }
        #students_grid{
            transition:height 1.5s width 1.5s ease-in-out;
            border:1px solid black;
            box-shadow:2px 2px 2px gray;
            padding:5px;
            cursor:pointer;
        }
        #student_delete_dd{
            height:30px;
            margin-bottom:4px;
            border-radius:2px;
        }
        .home_container{
            display:flex;
        }
        .right{
            margin-left:50px;
        }
        #name_search{
            height:30px;
            border-radius:5px;
        }
        #search_stud_button{
            color:#fff;
            font-weight:bold;
            height:35px;
            display:none;
            border-radius:5px;
            background:linear-gradient(to right, #312828, #000004);
        }
