
a {
    color: #fff;
    text-decoration: none;
}

a{

    font-size: 12px;
}

.login2background{    
    background-image: url("../Images/bg.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.loginbox{  
    background: #009688;
    color: black;    
    margin-top: 8%;
    left: 0;
    padding: 20px;   
    box-shadow: 0 2px 10px -1px rgba(39, 39, 39, 0.6196078431372549);
    height: 350px;
   

}


.loginbox1{  
    background: rgba(255, 255, 255, 0.16);
    color: black;    
    margin-top: 6%;
    left: 0;
    padding: 20px;   
  
   

}


.logo{
    width: 130px; 
    height: 55px;
    margin-left: 10%;
}
@media (max-width:767px) {
    .loginbox{ 
        margin-top: 10%;
    }    
}

.loginbox_content{
    padding:5% 11% 5% 11%;

}

.singtext {
    font-family: "Open Sans",sans-serif;
    font-size: 19px;
    color: #82C226;
    float: right;
    padding-right: 25%;
    color: white;
    margin-top: 24px;
}

.submit-btn{
    float: right;
    margin-right: 28%;
}

.forgotpassword{
    padding-left: 10%;
    margin-top: 9px;
}
@media (max-width:800px) {
    .submit-btn{
        
        margin-right: 23%;
    }

   
}





/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 350px;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 0px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 5px 9px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
  
}



.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}



.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #009688;
    border: 0px solid #ccc; 
    border-radius: 4px;
}

.btn-default {
    color: #009688;
    background-color: #fff;
    border-color: #ccc;
}